extends ../template/_layout

block header
    title thisis a new title
block body
    div this is body
    div.index-page this is indexpage
    div#jq
    p.common this is common
    div
        button.btn click
block scripts