//
   Created by chenchao on 2017/7/28.
doctype
html
    head
        meta(charset="utf-8")
        meta(name="renderer" content="webkit")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        title='purchase'
    body
        div(id='app')
